
@{
    ViewData["Title"] = "CreateInvebtory";
}
<div class="text-center">
    <h1 class="display-4">Создать инвентарный</h1>
</div>

<p align="center">Номер инвентарного: @Html.TextBox("nuberString")</p>
<p align="center">
    Имя инвентарного: @Html.TextBox("NameString")
</p>
<p align="center"><input type="submit" value="Создать" /> </p>

