@model InventoryViewModel;
@{
    ViewData["Title"] = "Invebtory";
}
<div class="text-center">
    <h1 class="display-4">Инвентарные номера</h1>    
</div>
<p>   
    <a href="/CreateInventory/Create">Создать новый</a>
</p>
<p align="center">
    Поиск по коду: @Html.TextBox("searchString")
    <input type="submit" value="Поиск" />
</p>
<table class="table-bordered"
       border="1"
       cellspacing="0"
       cellpadding="5"
       align="center"
       width="100%">
    <thade>
        <tr>
            <th width="15%">Инвентарный №</th>
            <th>Описание</th>
        </tr>
    </thade>
    <tbody>        
        @{
            foreach (Inventory inventory in Model.inventories)
            {
                <tr>

                    <td> <a class="nav-link" asp-controller="OrdersInventory" asp-action="Orders" asp-route-IdinventorySelect="@inventory.Id"> @inventory.Number </a> </td>
                    <td> @inventory.Name</td>
                </tr>
            }
        }
    </tbody>
</table>
