@model Inventory

@{
    ViewData["Title"] = "CreateInvebtory";
}
<div class="text-center">
    <h3 class="display-4">Создать инвентарный</h3>
</div>

<form asp-action="Create" method="post">

<div  align="center">
    <label asp-for="Number">Номер инвентарного</label>
    @*Номер инвентарного: @Html.TextBox("nuberString")*@
    <div>
        <input  asp-for="Number" class="form-control"/>
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
</div>

<div align="center">
    <label asp-for="Name">Имя инвентарного</label>
    @*Имя инвентарного: @Html.TextBox("NameString")*@
    <div>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<p align="center"><input type="submit" value="Создать" /> </p>
</form>