@model Inventory

@{
    ViewData["Title"] = "CreateInvebtory";
}
<div class="text-center">
    <h3 class="display-4">Создать инвентарный</h3>
</div>

<form asp-action="Create" method="post">

    <div align="center">
        <label asp-for="Number">Номер инвентарного</label>     
        <div>
            <input asp-for="Number" class="form-control" style="margin:10px" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
    </div>

    <div align="center">
        <label asp-for="Name">Имя инвентарного</label>        
        <div>
            <input asp-for="Name" class="form-control" style="margin:10px" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    

    <p align="center">
        <input type="submit" value="Создать" style="margin:10px" />
    </p>
</form>